#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.container {
  border: 1px solid #e5e5e5;  
  border-radius: 8px;
  padding: 16px;
  margin-top: 8px;
}

.card {
  padding: 1em;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

h3 {
  margin: 0;
}

img {
  margin-right: 16px;
  border-radius: 8px;
}

select {
  border: 1px solid #e5e5e5;
  padding: 16px;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
  appearance: none;
}